body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 60px 20px;
    max-width: 800px;


}
.chart-title{
  text-align: center;
  font-family: "Zalando Sans Expanded", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}

h1 { font-size: 3rem; margin-bottom: 0.5rem; }

.step {
    margin: 0 auto 100px auto;
    max-width: 700px;
    opacity: 0.1;
    transition: opacity 0.5s;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.step.is-active {
    opacity: 1;
}

.chart-container {
    width: 100%;
    height: 280px;
}

h3 {
    text-align: center;
    font-weight: 300;
    color: #666;
}
