body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart-main {
    width: 90vw;
    height: 85vh;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.05);
}
